.header {
    color: #FFFFFF;
    background-color: #2C3E50;
}

.site-description {
    margin: 10px 0px 20px 0px;
}

.navbar-brand {
    color: #2C3E50 !important;
}

.footer {
    color: #FFFFFF;
    background-color: #101010;
    margin-top: 40px;
    padding: 50px 0px;
    box-shadow: 0px 500px 0px 500px #101010;
}

/*Dalliance specific styles*/

*.dalliance .guideline {
    display: none !important;
}

*.dalliance .single-base-guideline {
    border: none !important;
    background-color: blue !important;
    width: 3px !important;
    top: 7px !important;
    opacity: 0.4;
}

*.dalliance .tier-tab.active {
    border: 1px solid #ccc !important;
}

*:focus.dalliance .tier-tab.active {
    border: 1px solid #ccc !important;
}

*.dalliance .track-label .fa-times {
    display: none !important;
    visibility: hidden !important;
}

*.dalliance .track-name-holder {
    margin-left: 3px !important;
}

*.dalliance .btn-toolbar {
    margin: 0px auto !important;
}
