.header {
    color: #FFFFFF;
    background-color: #2C3E50;
}

.site-description {
    margin: 10px 0px 20px 0px;
}

.navbar-brand {
    color: #2C3E50 !important;
}

.footer {
    color: #FFFFFF;
    background-color: #101010;
    margin-top: 40px;
    padding: 50px 0px;
    box-shadow: 0px 500px 0px 500px #101010;
}

/*Dalliance specific styles*/

*.dalliance .guideline {
    display: none !important;
}

*.dalliance .single-base-guideline {
    border: none !important;
    background-color: blue !important;
    width: 3px !important;
    top: 7px !important;
    opacity: 0.4;
}

*.dalliance .tier-tab.active {
    border: 1px solid #ccc !important;
}

*:focus.dalliance .tier-tab.active {
    border: 1px solid #ccc !important;
}

*.dalliance .track-label .fa-times {
    display: none !important;
    visibility: hidden !important;
}

*.dalliance .track-name-holder {
    margin-left: 3px !important;
}

*.dalliance .btn-toolbar {
    margin: 0px auto !important;
}

*.dalliance .loc-field {
    pointer-events: none;
    height: 30px;
    display: block;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
